In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
data=pd.read_csv(r"livepr.csv")

In [6]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24-03-2019,Banglore,New Delhi,BLR ? DEL,22:20,22-03-2024 01:10,2h 50m,non-stop,No info,3897
1,Air India,01-05-2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,09-06-2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,10-06-2024 04:25,19h,2 stops,No info,13882
3,IndiGo,12-05-2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01-03-2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,09-04-2019,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27-04-2019,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27-04-2019,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01-03-2019,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,09-05-2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753

# STEP1

In [7]:
data["Additional_Info"].value_counts()

Additional_Info
No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: count, dtype: int64

In [8]:
data.isnull().any()

Airline            False
Date_of_Journey    False
Source             False
Destination        False
Route               True
Dep_Time           False
Arrival_Time       False
Duration           False
Total_Stops         True
Additional_Info    False
Price              False
dtype: bool

In [9]:
data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [10]:
data[data["Total_Stops"].isnull()].index

Index([9039], dtype='int64')

In [11]:
data.drop(9039,inplace=True)

In [12]:
data.drop(["Additional_Info","Route"],axis=1,inplace=True)

In [13]:
data

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,IndiGo,24-03-2019,Banglore,New Delhi,22:20,22-03-2024 01:10,2h 50m,non-stop,3897
1,Air India,01-05-2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662
2,Jet Airways,09-06-2019,Delhi,Cochin,09:25,10-06-2024 04:25,19h,2 stops,13882
3,IndiGo,12-05-2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218
4,IndiGo,01-03-2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302
...,...,...,...,...,...,...,...,...,...
10678,Air Asia,09-04-2019,Kolkata,Banglore,19:55,22:25,2h 30m,non-stop,4107
10679,Air India,27-04-2019,Kolkata,Banglore,20:45,23:20,2h 35m,non-stop,4145
10680,Jet Airways,27-04-2019,Banglore,Delhi,08:20,11:20,3h,non-stop,7229
10681,Vistara,01-03-2019,Banglore,New Delhi,11:30,14:10,2h 40m,non-stop,12648
10682,Air India,09-05-2019,Delhi,Cochin,10:55,19:15,8h 20m,2 stops,11753

# STEP2 CLEANING

In [14]:
# data["Date_of_Journey"].str.split("/").str[1].astype(int)

In [15]:
data["j_mon"]=pd.to_datetime(data["Date_of_Journey"]).dt.month
data["j_day"]=pd.to_datetime(data["Date_of_Journey"]).dt.day

C:\Users\Yash Prajapati\AppData\Local\Temp\ipykernel_10228\714117449.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data["j_mon"]=pd.to_datetime(data["Date_of_Journey"]).dt.month
C:\Users\Yash Prajapati\AppData\Local\Temp\ipykernel_10228\714117449.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data["j_day"]=pd.to_datetime(data["Date_of_Journey"]).dt.day

In [16]:
data

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,j_mon,j_day
0,IndiGo,24-03-2019,Banglore,New Delhi,22:20,22-03-2024 01:10,2h 50m,non-stop,3897,3,24
1,Air India,01-05-2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,5,1
2,Jet Airways,09-06-2019,Delhi,Cochin,09:25,10-06-2024 04:25,19h,2 stops,13882,6,9
3,IndiGo,12-05-2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218,5,12
4,IndiGo,01-03-2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302,3,1
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,09-04-2019,Kolkata,Banglore,19:55,22:25,2h 30m,non-stop,4107,4,9
10679,Air India,27-04-2019,Kolkata,Banglore,20:45,23:20,2h 35m,non-stop,4145,4,27
10680,Jet Airways,27-04-2019,Banglore,Delhi,08:20,11:20,3h,non-stop,7229,4,27
10681,Vistara,01-03-2019,Banglore,New Delhi,11:30,14:10,2h 40m,non-stop,12648,3,1
10682,Air India,09-05-2019,Delhi,Cochin,10:55,19:15,8h 20m,2 stops,11753,5,9

In [17]:
data["a_min"]=pd.to_datetime(data["Arrival_Time"],format="mixed").dt.minute

In [18]:
data["a_hr"]=pd.to_datetime(data["Arrival_Time"],format="mixed").dt.hour

In [19]:
data["d_min"]=pd.to_datetime(data["Dep_Time"],format="mixed").dt.minute

In [20]:
data["d_hr"]=pd.to_datetime(data["Dep_Time"],format="mixed").dt.hour

In [75]:
data

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,j_mon,j_day,a_min,a_hr,d_min,d_hr,du_hr,du_mn
0,IndiGo,24-03-2019,Banglore,New Delhi,22:20,22-03-2024 01:10,2h 50m,non-stop,3897,3,24,10,1,20,22,2,50
1,Air India,01-05-2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,5,1,15,13,50,5,7,25
2,Jet Airways,09-06-2019,Delhi,Cochin,09:25,10-06-2024 04:25,19h,2 stops,13882,6,9,25,4,25,9,19,NaN
3,IndiGo,12-05-2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218,5,12,30,23,5,18,5,25
4,IndiGo,01-03-2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302,3,1,35,21,50,16,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,09-04-2019,Kolkata,Banglore,19:55,22:25,2h 30m,non-stop,4107,4,9,25,22,55,19,2,30
10679,Air India,27-04-2019,Kolkata,Banglore,20:45,23:20,2h 35m,non-stop,4145,4,27,20,23,45,20,2,35
10680,Jet Airways,27-04-2019,Banglore,Delhi,08:20,11:20,3h,non-stop,7229,4,27,20,11,20,8,3,NaN
10681,Vistara,01-03-2019,Banglore,New Delhi,11:30,14:10,2h 40m,non-stop,12648,3,1,10,14,30,11,2,40
10682,Air India,09-05-2019,Delhi,Cochin,10:55,19:15,8h 20m,2 stops,11753,5,9,15,19,55,10,8,20

In [22]:
data[data["Duration"]=="5m"]

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,j_mon,j_day,a_min,a_hr,d_min,d_hr
6474,Air India,06-03-2019,Mumbai,Hyderabad,16:50,16:55,5m,2 stops,17327,3,6,55,16,50,16

In [81]:
lis=data["Duration"]

In [82]:
new_lis=[]
for i in lis:
    if len(i.split(" "))==1:
        if "m" in  i:
            i="0h " +i
        elif "h" in i:
            i=i+ " 0m"
          
    new_lis.append(i)

In [74]:
data["Duration"].unique()

array(['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m', '2h 25m', '15h 30m',
       '21h 5m', '25h 30m', '7h 50m', '13h 15m', '2h 35m', '2h 15m',
       '12h 10m', '26h 35m', '4h 30m', '22h 35m', '23h', '20h 35m',
       '5h 10m', '15h 20m', '2h 55m', '13h 20m', '15h 10m', '5h 45m',
       '5h 55m', '13h 25m', '22h', '5h 30m', '10h 25m', '5h 15m',
       '2h 30m', '6h 15m', '11h 55m', '11h 5m', '8h 30m', '22h 5m',
       '2h 45m', '12h', '16h 5m', '19h 55m', '3h 15m', '25h 20m', '3h',
       '16h 15m', '15h 5m', '6h 30m', '25h 5m', '12h 25m', '27h 20m',
       '10h 15m', '10h 30m', '1h 30m', '1h 25m', '26h 30m', '7h 20m',
       '13h 30m', '5h', '19h 5m', '14h 50m', '2h 40m', '22h 10m',
       '9h 35m', '10h', '21h 20m', '18h 45m', '12h 20m', '18h', '9h 15m',
       '17h 30m', '16h 35m', '12h 15m', '7h 30m', '24h', '8h 55m',
       '7h 10m', '14h 30m', '30h 20m', '15h', '12h 45m', '10h 10m',
       '15h 25m', '14h 5m', '20h 15m', '23h 10m', '18h 10m', '16h',
       '2h 20m', '8h', '16h 55m', '3h 10m', '14h', '23h 50m', '21h 40m',
       '21h 15m', '10h 50m', '8h 15m', '8h 35m', '11h 50m', '27h 35m',
       '8h 25m', '20h 55m', '4h 50m', '8h 10m', '24h 25m', '23h 35m',
       '25h 45m', '26h 10m', '28h 50m', '25h 15m', '9h 20m', '9h 10m',
       '3h 5m', '11h 30m', '9h 30m', '17h 35m', '5h 5m', '25h 50m', '20h',
       '13h', '18h 25m', '24h 10m', '4h 55m', '25h 35m', '6h 20m',
       '18h 40m', '19h 25m', '29h 20m', '9h 5m', '10h 45m', '11h 40m',
       '22h 55m', '37h 25m', '25h 40m', '13h 55m', '8h 40m', '23h 30m',
       '12h 35m', '24h 15m', '1h 20m', '11h', '11h 15m', '14h 35m',
       '12h 55m', '9h', '7h 40m', '11h 45m', '24h 55m', '17h 5m',
       '29h 55m', '22h 15m', '14h 40m', '7h 15m', '20h 10m', '20h 45m',
       '27h', '24h 30m', '20h 25m', '5h 35m', '14h 45m', '5h 40m',
       '4h 5m', '15h 55m', '7h 45m', '28h 20m', '4h 20m', '3h 40m',
       '8h 50m', '23h 45m', '24h 45m', '21h 35m', '8h 5m', '6h 25m',
       '15h 50m', '26h 25m', '24h 50m', '26h', '23h 5m', '7h 55m',
       '26h 20m', '23h 15m', '5h 20m', '4h', '9h 45m', '8h 20m',
       '17h 25m', '7h 5m', '34h 5m', '6h 5m', '5h 50m', '7h', '4h 25m',
       '13h 45m', '19h 15m', '22h 30m', '16h 25m', '13h 50m', '27h 5m',
       '28h 10m', '4h 40m', '15h 40m', '4h 35m', '18h 30m', '38h 15m',
       '6h 35m', '12h 30m', '11h 20m', '7h 35m', '29h 35m', '26h 55m',
       '23h 40m', '12h 50m', '9h 50m', '21h 55m', '10h 55m', '21h 10m',
       '20h 40m', '30h', '13h 10m', '8h 45m', '6h 10m', '17h 45m',
       '21h 45m', '3h 55m', '17h 20m', '30h 30m', '21h 25m', '12h 40m',
       '24h 35m', '19h 10m', '22h 40m', '14h 55m', '21h', '6h 45m',
       '28h 40m', '9h 40m', '16h 40m', '16h 20m', '16h 45m', '1h 15m',
       '6h 55m', '11h 25m', '14h 20m', '12h 5m', '24h 5m', '28h 15m',
       '17h 50m', '20h 20m', '28h 5m', '10h 20m', '14h 15m', '35h 15m',
       '35h 35m', '26h 40m', '28h', '14h 25m', '13h 5m', '37h 20m',
       '36h 10m', '25h 55m', '35h 5m', '19h 45m', '27h 55m', '47h',
       '10h 35m', '1h 35m', '16h 10m', '38h 20m', '6h', '16h 50m',
       '14h 10m', '23h 20m', '17h 40m', '11h 35m', '18h 20m', '6h 40m',
       '30h 55m', '24h 40m', '29h 50m', '28h 25m', '17h 15m', '22h 45m',
       '25h 25m', '21h 50m', '33h 15m', '30h 15m', '3h 35m', '27h 40m',
       '30h 25m', '18h 50m', '27h 45m', '15h 15m', '10h 40m', '26h 15m',
       '36h 25m', '26h 50m', '15h 45m', '19h 40m', '22h 25m', '19h 35m',
       '25h', '26h 45m', '38h', '4h 15m', '25h 10m', '18h 15m', '6h 50m',
       '23h 55m', '17h 55m', '23h 25m', '17h 10m', '24h 20m', '28h 30m',
       '27h 10m', '19h 20m', '15h 35m', '9h 25m', '21h 30m', '34h 25m',
       '18h 35m', '29h 40m', '26h 5m', '29h 5m', '27h 25m', '16h 30m',
       '11h 10m', '28h 55m', '29h 10m', '34h', '30h 40m', '30h 45m',
       '32h 55m', '10h 5m', '35h 20m', '32h 5m', '31h 40m', '19h 50m',
       '33h 45m', '30h 10m', '13h 40m', '19h 30m', '31h 30m', '34h 30m',
       '27h 50m', '38h 35m', '42h 5m', '4h 10m', '39h 5m', '3h 50m',
       '0h 5m', '32h 30m', '31h 55m', '33h 20m', '27h 30m', '18h 55m',
       '9h 55m', '41h 20m', '20h 5m', '31h 50m', '42h 45m', '3h 25m',
       '37h 10m', '29h 30m', '32h 20m', '20h 50m', '40h 20m', '13h 35m',
       '47h 40m'], dtype=object)

In [84]:
data["Duration"]=new_lis

In [83]:
data["Duration"]

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10682, dtype: object

In [85]:
data["du_hr"]=data["Duration"].str.split(" ").str[0].replace("h","",regex=True).astype(int)
data["du_mn"]=data["Duration"].str.split(" ").str[1].replace("m","",regex=True).astype(int)

In [86]:
data

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,j_mon,j_day,a_min,a_hr,d_min,d_hr,du_hr,du_mn
0,IndiGo,24-03-2019,Banglore,New Delhi,22:20,22-03-2024 01:10,2h 50m,non-stop,3897,3,24,10,1,20,22,2,50
1,Air India,01-05-2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,5,1,15,13,50,5,7,25
2,Jet Airways,09-06-2019,Delhi,Cochin,09:25,10-06-2024 04:25,19h 0m,2 stops,13882,6,9,25,4,25,9,19,0
3,IndiGo,12-05-2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218,5,12,30,23,5,18,5,25
4,IndiGo,01-03-2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302,3,1,35,21,50,16,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,09-04-2019,Kolkata,Banglore,19:55,22:25,2h 30m,non-stop,4107,4,9,25,22,55,19,2,30
10679,Air India,27-04-2019,Kolkata,Banglore,20:45,23:20,2h 35m,non-stop,4145,4,27,20,23,45,20,2,35
10680,Jet Airways,27-04-2019,Banglore,Delhi,08:20,11:20,3h 0m,non-stop,7229,4,27,20,11,20,8,3,0
10681,Vistara,01-03-2019,Banglore,New Delhi,11:30,14:10,2h 40m,non-stop,12648,3,1,10,14,30,11,2,40
10682,Air India,09-05-2019,Delhi,Cochin,10:55,19:15,8h 20m,2 stops,11753,5,9,15,19,55,10,8,20

In [87]:
data["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [88]:
data["Total_Stops"].replace(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],[0,2,1,3,4],inplace=True)

In [89]:
data

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,j_mon,j_day,a_min,a_hr,d_min,d_hr,du_hr,du_mn
0,IndiGo,24-03-2019,Banglore,New Delhi,22:20,22-03-2024 01:10,2h 50m,0,3897,3,24,10,1,20,22,2,50
1,Air India,01-05-2019,Kolkata,Banglore,05:50,13:15,7h 25m,2,7662,5,1,15,13,50,5,7,25
2,Jet Airways,09-06-2019,Delhi,Cochin,09:25,10-06-2024 04:25,19h 0m,2,13882,6,9,25,4,25,9,19,0
3,IndiGo,12-05-2019,Kolkata,Banglore,18:05,23:30,5h 25m,1,6218,5,12,30,23,5,18,5,25
4,IndiGo,01-03-2019,Banglore,New Delhi,16:50,21:35,4h 45m,1,13302,3,1,35,21,50,16,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,09-04-2019,Kolkata,Banglore,19:55,22:25,2h 30m,0,4107,4,9,25,22,55,19,2,30
10679,Air India,27-04-2019,Kolkata,Banglore,20:45,23:20,2h 35m,0,4145,4,27,20,23,45,20,2,35
10680,Jet Airways,27-04-2019,Banglore,Delhi,08:20,11:20,3h 0m,0,7229,4,27,20,11,20,8,3,0
10681,Vistara,01-03-2019,Banglore,New Delhi,11:30,14:10,2h 40m,0,12648,3,1,10,14,30,11,2,40
10682,Air India,09-05-2019,Delhi,Cochin,10:55,19:15,8h 20m,2,11753,5,9,15,19,55,10,8,20

In [90]:
from sklearn.preprocessing import LabelEncoder

In [94]:
ec=LabelEncoder()

In [93]:
# ec.fit_transform(data[["Airline","Source","Destination"]])

ValueError: y should be a 1d array, got an array of shape (10682, 3) instead.

In [96]:
data[["Airline","Source","Destination"]]=data[["Airline","Source","Destination"]].apply(ec.fit_transform)

In [99]:
data.drop(["Date_of_Journey","Dep_Time","Arrival_Time",'Duration'],axis=1,inplace=True)

In [100]:
data

,Airline,Source,Destination,Total_Stops,Price,j_mon,j_day,a_min,a_hr,d_min,d_hr,du_hr,du_mn
0,3,0,5,0,3897,3,24,10,1,20,22,2,50
1,1,3,0,2,7662,5,1,15,13,50,5,7,25
2,4,2,1,2,13882,6,9,25,4,25,9,19,0
3,3,3,0,1,6218,5,12,30,23,5,18,5,25
4,3,0,5,1,13302,3,1,35,21,50,16,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,3,0,0,4107,4,9,25,22,55,19,2,30
10679,1,3,0,0,4145,4,27,20,23,45,20,2,35
10680,4,0,2,0,7229,4,27,20,11,20,8,3,0
10681,10,0,5,0,12648,3,1,10,14,30,11,2,40
10682,1,2,1,2,11753,5,9,15,19,55,10,8,20

In [ ]:
# data.to_csv(r"path")

# day2

In [101]:
data

,Airline,Source,Destination,Total_Stops,Price,j_mon,j_day,a_min,a_hr,d_min,d_hr,du_hr,du_mn
0,3,0,5,0,3897,3,24,10,1,20,22,2,50
1,1,3,0,2,7662,5,1,15,13,50,5,7,25
2,4,2,1,2,13882,6,9,25,4,25,9,19,0
3,3,3,0,1,6218,5,12,30,23,5,18,5,25
4,3,0,5,1,13302,3,1,35,21,50,16,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,3,0,0,4107,4,9,25,22,55,19,2,30
10679,1,3,0,0,4145,4,27,20,23,45,20,2,35
10680,4,0,2,0,7229,4,27,20,11,20,8,3,0
10681,10,0,5,0,12648,3,1,10,14,30,11,2,40
10682,1,2,1,2,11753,5,9,15,19,55,10,8,20

In [ ]:
# definr x and y x=data.drop("Price",axis=1) & y=data["Price"]

In [102]:
x=data.drop("Price",axis=1)

In [103]:
y=data["Price"]

In [104]:
from sklearn.model_selection import train_test_split

In [105]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=0)

In [106]:
from sklearn.linear_model import LinearRegression

In [107]:
model=LinearRegression()

In [108]:
model.fit(x_train,y_train)

LinearRegression()

In [109]:
model.score(x_train,y_train)

0.43756924788280527

In [110]:
model.score(x_test,y_test)

0.4320828221684545

In [111]:
# to increase accuracy use regulization [lasso, ridge]

In [114]:
from sklearn.linear_model import Lasso,Ridge       #Lasso for small data, Ridge for huge data

In [115]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

In [116]:
lis=[DecisionTreeRegressor,RandomForestRegressor,KNeighborsRegressor,SVR]

In [117]:
for i in lis:
    model=i()
    model.fit(x_train,y_train)
    print(i)
    print(model.score(x_train,y_train))
    print(model.score(x_test,y_test))

<class 'sklearn.tree._classes.DecisionTreeRegressor'>
0.9711683243930616
0.6534092162792174
<class 'sklearn.ensemble._forest.RandomForestRegressor'>
0.9527448305971751
0.7872545731152146
<class 'sklearn.neighbors._regression.KNeighborsRegressor'>
0.7676927923246991
0.567215910500822
<class 'sklearn.svm._classes.SVR'>
0.0065910524627145195
-0.002854234979519532

In [118]:
from sklearn.model_selection import KFold,cross_val_score

In [120]:
h=KFold(5)

In [121]:
for i in lis:
    print(i)
    print(cross_val_score(i(),x,y,cv=h))

<class 'sklearn.tree._classes.DecisionTreeRegressor'>
[0.64703288 0.74237188 0.69362285 0.7001132  0.66440347]
<class 'sklearn.ensemble._forest.RandomForestRegressor'>
[0.81437627 0.81772669 0.8246599  0.80972425 0.76707888]
<class 'sklearn.neighbors._regression.KNeighborsRegressor'>
[0.59070792 0.63443874 0.61799465 0.59745914 0.63911423]
<class 'sklearn.svm._classes.SVR'>
[ 0.00362735 -0.00829189  0.01381705  0.01928904  0.00277698]

In [122]:
for i in lis:
    print(i)
    print(cross_val_score(i(),x,y,cv=h).mean())

<class 'sklearn.tree._classes.DecisionTreeRegressor'>
0.6882101577100453
<class 'sklearn.ensemble._forest.RandomForestRegressor'>
0.8042748417647083
<class 'sklearn.neighbors._regression.KNeighborsRegressor'>
0.6159429382863536
<class 'sklearn.svm._classes.SVR'>
0.006243706082704614

In [123]:
model2=RandomForestRegressor()

In [124]:
model2.fit(x_train,y_train)

RandomForestRegressor()

In [125]:
model2.score(x_train,y_train)

0.9543313636690945

In [126]:
model2.score(x_test,y_test)

0.7810276092830986

In [136]:
n_estimators=[100,200,300]
random_state=[20,25,30,35]
max_depth=[2,3,5]
dic={"n_estimators":n_estimators,"random_state":random_state,"max_depth":max_depth}

In [137]:
from sklearn.model_selection import RandomizedSearchCV

In [138]:
grid=RandomizedSearchCV(model2,param_distributions=dic,n_iter=20,cv=KFold(5))

In [141]:
grid.fit(x,y)

RandomizedSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=False),
                   estimator=RandomForestRegressor(), n_iter=20,
                   param_distributions={'max_depth': [2, 3, 5],
                                        'n_estimators': [100, 200, 300],
                                        'random_state': [20, 25, 30, 35]})

In [142]:
grid.best_params_

{'random_state': 30, 'n_estimators': 200, 'max_depth': 5}

In [145]:
data.to_csv(r"D:\ft\liveprj.csv")